<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>菜单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
</head>
<body class="childrenBody">
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

<![endif]-->
<div class="layui-fluid">
    <div clas="layui-row">
        <div class="layui-col-md6">
<!--            <fieldset class="layui-elem-field" >-->
                <legend style="font-size:18px">支付类型检索</legend>
                <div class="layui-field-box">
                    <form class="layui-form">
                        <div class="layui-inline" style="width: 40%">
                            <input type="text" value="" name="payType" placeholder="请您少字也不要错别字,空白搜索就是所有数据" class="layui-input search_input">
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn layui-btn-normal" data-type="addPayType"><i class="layui-icon">&#xe654;</i>添加支付类型</a>
                        </div>
                    </form>
                </div>
<!--            </fieldset>-->
        </div>

    </div>


    <div class="layui-form">
        <table id="authTable" class="layui-table" lay-filter="authList"></table>
        <script type="text/html" id="authBar">
                <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="editChildPayType"><i class="layui-icon">&#xe642;</i> 编辑 </a>
                <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delPayType"><i class="layui-icon">&#xe640;</i> 删除</a>
        </script>
    </div>
</div>
</div>
<div id="page"></div>

<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/payType/payTypeList.js}"></script>
<script>

</script>
</body>
</html>