<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<meta charset="utf-8">
<title>提现列表--后台管理</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel = "shortcut icon" href="${site.logo}">
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
<link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend>提现申请列表</legend>
    <div class="layui-col-md6">
        <div class="layui-field-box">
            <form class="layui-form">
                会员名称：
                <div class="layui-inline" style="width: 40%">
                    <input type="text" value="" name="searchName" placeholder="请您少字也不要错别字,空白搜索就是所有数据" class="layui-input search_input">
                </div>
                &nbsp;&nbsp;&nbsp;状态：
                <div class="layui-inline" style="width: 20%">
                    <select id="status" name="status">
                        <option value="">全部</option>
                        <option value="0">审核中</option>
                        <option value="1">通过</option>
                        <option value="2">驳回</option>
                    </select>
                </div>

                <div class="layui-inline">
                    <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
                </div>
            </form>
        </div>
    </div>


</fieldset>
<div class="layui-form users_list">
   <!--<shiro:hasPermission name="sys:draw:list">-->
    <table class="layui-table" id="drawApplyTable" lay-filter="drawApplyList"></table>
    <!--</shiro:hasPermission>-->

    <script type="text/html" id="drawAuditBar">
            <a class="layui-btn layui-btn-xs" lay-event="drawAudit">审核</a>
        <!--</shiro:hasPermission>-->
    </script>

    <script type="text/html" id="drawStatus">
        {{#  if( d.drawStatu == '0'){ }}
        <span style="padding: 3px; color: #fff; background: orange">审核中</span>
        {{#  } else if(d.drawStatu == '1'){ }}
        <span style="padding: 3px; color: #fff; background: #009688">通过</span>
        {{#  } else if(d.drawStatu == '2'){ }}
        <span  style="padding: 3px; color: #fff; background: red">驳回</span>
        {{#  } }}
    </script>


</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/draw/drawList.js}"></script>
</body>
</html>