<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>收益明细</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
</head>
<body >
<fieldset class="layui-elem-field">
    <legend>收益明细检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-input-inline layui-form">
                <select name="moneyPurpose" class="" lay-search>
                    <option value="">请选择收益类型</option>
                    <option value="0">我的</option>
                    <option value="1">推荐</option>
                    <option value="2">代理</option>
                </select>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" >开始时间：</label>
                <div class="layui-input-inline">
                    <input name="startDate"  type="text" class="layui-input" id="startTime" placeholder="请选择">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" >结束时间：</label>
                <div class="layui-input-inline">
                    <input name="endDate"  type="text" class="layui-input" id="endTime"  placeholder="请选择">
                </div>
            </div>
            <div class="layui-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>
        </form>
    </div>
</fieldset>
<div hidden="hidden">
    <input id="de_addTime" th:value="${addTime}">
    <input id="de_account"th:value="${account}">
</div>
<div >
    <table class="layui-table" id="earningsDetailTable" lay-filter="vipEarningsStatisticsList"></table>
    <!--<script type="text/html" id="vipUserUserStatus">
        {{#  if(d.status == true){ }}
        <span class="layui-badge layui-bg-green">正常</span>
        {{#  } else { }}
        <span class="layui-badge layui-bg-gray">锁定</span>
        {{#  } }}
    </script>

    <script type="text/html" id="vipClass">
        {{#  if(d.userVip == '1'){ }}
        <span class="layui-badge layui-bg-green">普通会员</span>
        {{#  } else if(d.userVip == '2'){ }}
        <span class="layui-badge layui-bg-green">白金会员</span>
        {{#  } else if(d.userVip == '3'){ }}
        <span class="layui-badge layui-bg-green">铂金会员</span>
        {{#  } }}
    </script>

    <script type="text/html" id="vipUserType">
        {{#  if(d.userType == '0'){ }}
        <span class="layui-badge layui-bg-gray">普通会员</span>
        {{#  } else { }}
        <span class="layui-badge layui-bg-green">代理</span>
        {{#  } }}
    </script>-->

    <!--<script type="text/html" id="vipUserBar">
        <shiro:hasPermission name="sys:vipUser:lock">
            {{#  if(d.status == false){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="lock">启用</a>
            {{#  } else { }}
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="lock">锁定</a>
            {{#  } }}
        </shiro:hasPermission>
        <shiro:hasPermission name="sys:user:edit">
            <a class="layui-btn layui-btn-xs" lay-event="vipDetails">查看vip详情信息</a>
        </shiro:hasPermission>
        <shiro:hasPermission name="sys:user:delete">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </shiro:hasPermission>
    </script>-->
</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/earningsStatistics/EraningsDetail.js}"></script>
</body>
</html>