<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>代理申请列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend>快递报价检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-inline">
                <label class="layui-form-label" >开始时间：</label>
                <div class="layui-input-inline">
                    <input name="startDate"  type="text" class="layui-input" id="startTime" placeholder="请选择">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" >结束时间：</label>
                <div class="layui-input-inline">
                    <input name="endDate"  type="text" class="layui-input" id="endTime"  placeholder="请选择">
                </div>
            </div>
            <div class="layui-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>
        </form>
    </div>
</fieldset>
<div class="layui-form">
    <table class="layui-table" id="vipUserSingleTable" lay-filter="vipUserSingleList"></table>
    <script type="text/html" id="vipUserSingleListBar">
        <a class="layui-btn layui-btn-xs" lay-event="singlePriceChange">修改报价</a>
    </script>

</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/vipUser/vipUserSingleList.js}"></script>
</body>
</html>